* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #4d4e4f;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

#root {
  width: 100%;
  max-width: 1280px;
}

.header {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.grid {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.grid__item {
  margin: 0 10px 20px;
  flex: 1 1 290px;
}

/* Фотокарточки */
.card {
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  line-height: 0;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.card__body {
  width: 100%;
  height: 215px;
  overflow: hidden;
  background-color: #eee;
}

.card__body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__footer {
  width: 100%;
  padding: 10px 15px;
}

.media__obj {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d8d8d8;
  margin-right: 15px;
  float: left;
}

.media__body {
  width: 100%;
  height: 32px;
  line-height: 32px;
}

.media__body a {
  font-family: Courier, serif;
  font-size: 15px;
  color: #999;
}

.media__body a:hover {
  text-decoration: none;
}

/* ============================
          PAGINATION
============================= */
.pagination {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 0 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination__left,
.pagination__right,
.pagination__mid {
  padding: 30px 0;
}

.pagination span[role="button"] {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 42px;
  height: 44px;
  color: #999;
  font-size: 18px;
  padding: 0 5px;
  max-width: 160px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-decoration: none;
  margin: 0 6px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover,
  &.current {
    border-color: #ea4c89;
    color: #ea4c89;
  }

  @media (min-width: 620px) {
    padding: 0 16px;
  }
}

.pagination__mid {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pagination__mid ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination__mid li {
  display: inline-block;
}

.hidden {
  display: none !important;
}

/* ============================
            LOADER
============================= */
.loader {
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*   position: relative; */
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader::before {
  background: hsla(0, 0%, 100%, 0.7);
}

.loader::after {
  content: "";
  font-size: 48px;
  width: 1em;
  height: 1em;
  border: 2px solid #ccc;
  border-top-color: #ea4c89;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}
